<html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="../static/css/style.css">
    <!--CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="row row-divsion">
        <!-- Navbar-->
        <div class="col-sm-2 teste col-color sidbar-desktop">
            <div class=" container-navbar">
                <a class="nav-link nav-link-title" aria-current="page" href="#">Zero</a>
                <span> se localize </span>
                <a class="nav-link nav-link-subs" href="{{ url_for('about_me') }}">Sobre Mim</a>
                <a class="nav-link nav-link-subs" href="{{ url_for('school') }}">Escolaridade</a>
                <a class="nav-link nav-link-subs" href="{{ url_for('project') }}">Projeto</a>
                <a class="nav-link nav-link-subs" href="{{ url_for('curriculo') }}">Curriculo</a>
                <a class="nav-link nav-link-subs" href="{{ url_for('hobby') }}">Hobby</a>
            </div>
        </div>
        <!-- Side bar -->
        <div class="sidbar-mobile">
            <div class=" col-color-sidebar offcanvas offcanvas-start side-bar-widht " tabindex="-1" id="offcanvas"
                data-bs-keyboard="false" data-bs-backdrop="false">
                <div class="offcanvas-header">
                    <a id="pirata-close" class="nav-link nav-link-title" aria-current="page" href="#"
                        data-bs-toggle="offcanvas" aria-label="Close">Zero</a>
                </div>
                <div class="offcanvas-body px-0">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                        <li class="nav-item">
                            <a href="{{ url_for('about_me') }}" class="nav-link text-truncate nav-link-subs">
                                Sobre mim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('school') }}" class="nav-link text-truncate nav-link-subs">
                                Escolaridade
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('project') }}" class="nav-link text-truncate nav-link-subs">
                                Projetos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('curriculo') }}" class="nav-link text-truncate nav-link-subs">
                                Curriculo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('hobby') }}" class="nav-link text-truncate nav-link-subs">
                                Hobby
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-color-sidebar">
                    <!-- toggler -->
                    <a id="pirata" class="nav-link nav-link-title" aria-current="page" href="#"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvas">Zero</a>
                </div>
                <!-- Conteudo da pagina -->
                <div class="col-sm-12 parademiar">
                    {% block mobile %}
                    {% endblock %}
                </div>
                <!-- Fim do conteudo da Pagina -->
            </div>
        </div>
        <!-- Body -->
        <div class="col-sm-10 col-colo sidbar-desktop">
            {% block desktop %}
            <!-- Conteudo da pagina -->
            <!-- Fim do conteudo da Pagina -->
            {% endblock %}
        </div>
    </div>
</body>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

</html>