{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/escolaridade.css') }}">

{% endblock %}
{% block title %}
Escolaridade
{% endblock %}
{% block mobile %}
<div class="card card-size ">
    <div class="controll-div">
        <div class="img-controll">
            <img class="img" src="../static/imagens/mdschool.png" alt="">
        </div>

        <div class="div-controll">
            <p class="font-family">Maria Dolores</p>
            <p class="date-controll">
                Inicio: 2011 <br>
                fim: 2014
            </p>
            <p class="text-controll">Quando cheguei em São josé dos campos a primeira escola que frequentei foi a Maria
                Dores,
                onde
                fiquei por três anos até virar uma escola de ensino médio integral. </p>
        </div>
    </div>
</div>
<div class="card card-size card-size-text-alt ">
    <div class="controll-div">
        <div class="img-controll">
            <img class="img" src="../static/imagens/matarazzo.jpg" alt="">
        </div>
        <div class="div-controll">
            <p class="font-family">Matarazzo</p>
            <p class="date-controll">
                Inicio: 2014 <br>
                fim: 2016
            </p>
            <p class="text-controll">Após Maria Dolores ser apénas Ensino Médio intregal, fui transferido para a
                matarazzo, no
                inicio achei que ia ser um pesadelo de tanta coisa ruim que ouvi dessa escola e no
                final se
                provou ser "falso", acabou sendo uma boa escola para mim no final, não fiz nada de
                extravagante nela, mas ainda assim ficou presente como algo necessario para hoje.
                Unica dificuldade que tive foi nos primeiro dia, onde descobrimos que os professores
                continuavam nas salas e os alunos saiam, diferente da MD</p>
        </div>
    </div>
</div>
<div class="card card-size card-size-text-alt ">
    <div class="controll-div">
        <div class="img-controll">
            <img class="img" src="../static/imagens/mdschool.png" alt="">
        </div>
        <div class="div-controll">
            <p class="font-family">Maria Dolores</p>
            <p class="date-controll">
                Inicio: 2016 <br>
                fim: 2018
            </p>
            <p class="text-controll">Agora no Ensino médio, foi uma ótima escola me ensinou várias coisas dentro dela,
                tanto por
                conta das materias que já eram mais avançadas quanto por conta de outros projetos
                que tinha
                dentro do Ensino Intregal, como O.E [Orientação de estudo], P.A [Projetos
                Academico], P.V
                [Projeto De Vida], M.T [Mundo do Trabalho], Eletiva e Clube. Dentro dessas
                modalidade sempre
                tinha algo importante para fazer, principalmente nas eletivas, que sera detalhado na
                parte
                de curriculo</p>
        </div>
    </div>
</div>
{% endblock %}
{% block desktop %}
<div class="card card-size ">
    <div class="controll-div">
        <img class="img" src="../static/imagens/mdschool.png" alt="">
        <div class="div-controll">
            <p class="font-family">Maria Dolores</p>
            <p class="date-controll">
                Inicio: 2011 <br>
                fim: 2014
            </p>
            <p class="text-controll">Quando cheguei em São josé dos campos a primeira escola que frequentei foi a
                Maria Dores,
                onde
                fiquei por três anos até virar uma escola de ensino médio integral. </p>
        </div class="text-controll">
    </div>
</div>
<div class="card card-size card-size-text-alt ">
    <div class="controll-div">
        <img class="img" src="../static/imagens/matarazzo.jpg" alt="">
        <div class="div-controll">
            <p class="font-family">Maria Dolores</p>
            <p class="date-controll">
                Inicio: 2014 <br>
                fim: 2016
            </p>
            <p class="text-controll">Após Maria Dolores ser apénas Ensino Médio intregal, fui transferido para a
                matarazzo, no
                inicio achei que ia ser um pesadelo de tanta coisa ruim que ouvi dessa escola e no final se
                provou ser "falso", acabou sendo uma boa escola para mim no final, não fiz nada de
                extravagante nela, mas ainda assim ficou presente como algo necessario para hoje.
                Unica dificuldade que tive foi nos primeiro dia, onde descobrimos que os professores
                continuavam nas salas e os alunos saiam, diferente da MD</p>
        </div>
    </div>
</div>
<div class="card card-size card-size-text-alt ">
    <div class="controll-div">
        <img class="img" src="../static/imagens/mdschool.png" alt="">
        <div class="div-controll">
            <p class="font-family">Maria Dolores</p>
            <p class="date-controll">
                Inicio: 2016 <br>
                fim: 2018
            </p>
            <p class="text-controll">Agora no Ensino médio, foi uma ótima escola me ensinou várias coisas dentro
                dela, tanto por
                conta das materias que já eram mais avançadas quanto por conta de outros projetos que tinha
                dentro do Ensino Intregal, como O.E [Orientação de estudo], P.A [Projetos Academico], P.V
                [Projeto De Vida], M.T [Mundo do Trabalho], Eletiva e Clube. Dentro dessas modalidade sempre
                tinha algo importante para fazer, principalmente nas eletivas, que sera detalhado na parte
                de curriculo</p>
        </div>
    </div>
</div>
{% endblock %}