{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sobremim.css') }}">
{% endblock %}
{% block title %}
Sobre mim
{% endblock %}
{% block mobile %}
<div class="card card-size ">
    <div class="img-controll">
        <img class="img" src="../static/imagens/fotominha.jpg">
    </div>
    <p class="title-controll">Sobre Mim</p>
    <p class="text-controll">Bem, me chamo Gabriel Souza Bicho Nunes e tenho 20 anos.
        Nasci em Pindamonhagaba e fiquei lá por 10 anos, eu sinceramente não me lembro muita coisa
        de
        Pindamonhagaba além de curtir varios momentos em minha residencia, era um lugar confortavel
        onde
        tinha um quintal gigantesco... principalmente se você leva a parte que juntava o caminho até
        a
        residencia de minha tia, além disso a unica coisa que lembro também é a subida gigantesca
        que eu
        tinha que fazer para chegar na minha escola.
        Em 2011 mudamos para São José dos campos por conta de trabalho para o meu pai, onde continuo
        até
        hoje. Aqui em São josé dos campos estudei em Duas escolas, duas escolas que foram importante
        para
        mim, onde consegui formar a minha pessoa e criar um circulo de amizade que se arrasta até os
        dias de
        hoje.
        Após meu ensino médio, me dediquei a tentar seguir uma carreira como ProPlayer de League Of
        Legends,
        fazendo peneiras para times como Santos, CNB e times pequenos, só que na maioria não dava
        certo
        então fazendo eu desisti, porém não toltamente do League Of Legends tentando uma carreira de
        streamer, que para mim era uma das coisas mais divertidas de se fazer mas com o tempo eu não
        conseguia mais, pois estava exigindo um grande uso do meu HardWare mesmo com as qualidades
        no Low,
        fazendo eu dar uma pausa momentanea que se mantem até o momento, um dia pretendo voltar como
        um
        hobby para aliviar o stress e me divertir com amigos. Hoje em dia estou cursando
        Desenvolvimento de
        Software Multiplataforma na Fatec e sinceramente, estou curtindo muito já que é uma área que
        eu
        originalmente gosto, então pretendo trabalhar bastante com isso ainda.</p>
    <p class="title-controll">Porque o nome "ZERO"?</p>
    <p class="text-controll">Esse nome vem por conta da minha infância onde minha maior parte foi
        jogar
        jogos de PlayStation 2, Game Boy Advanced, Nintendo Ds e alguns jogos de computador, mas o
        mais
        marcante foi o jogo Megaman X4 onde o personagem Zero foi disponibilizado para jogar desdo
        inicio do
        jogo, e para mim aquele personagem era o mais incrivel possível, ele usava uma armadura
        incrivel de
        tom vermelho e branco e usava uma espada laser e ia na briga com os inimigos, isso para mim
        foi o
        suficiente para me conquistar e fazer com que eu pegasse o nome dele emprestado para mim.
        Até hoje
        uso esse nome por conta disso, além de que conforme eu fui crescendo e conhecendo mais
        coisas,
        sempre me deparava com algum ou outro personagem com o nome zero, e cada personagem
        aumentava ainda
        meu entusiamos em relação a esse nome. é por isso que uso :)</p>
    <p class="title-controll">Objetivos futuros desse portifolio</p>
    <p class="text-controll">Bem, esse projeto é para a materia de Desigin Digital da Fatec de São
        José dos
        campos, porém irei usar ele para continuar atualizando meu progesso no mundo da tecnologia
        após a
        ultima entrega do mesmo</p>
</div>
{% endblock %}
<!-- Body -->
{% block desktop %}
<div class="card card-size ">
    <div class="img-controll">
        <img class="img" src="../static/imagens/fotominha.jpg">
    </div>
    <p class="title-controll">Sobre Mim</p>
    <p class="text-controll">Bem, me chamo Gabriel Souza Bicho Nunes e tenho 20 anos.
        Nasci em Pindamonhagaba e fiquei lá por 10 anos, eu sinceramente não me lembro muita coisa de
        Pindamonhagaba além de curtir varios momentos em minha residencia, era um lugar confortavel onde
        tinha um quintal gigantesco... principalmente se você leva a parte que juntava o caminho até a
        residencia de minha tia, além disso a unica coisa que lembro também é a subida gigantesca que eu
        tinha que fazer para chegar na minha escola.
        Em 2011 mudamos para São José dos campos por conta de trabalho para o meu pai, onde continuo até
        hoje. Aqui em São josé dos campos estudei em Duas escolas, duas escolas que foram importante para
        mim, onde consegui formar a minha pessoa e criar um circulo de amizade que se arrasta até os dias de
        hoje.
        Após meu ensino médio, me dediquei a tentar seguir uma carreira como ProPlayer de League Of Legends,
        fazendo peneiras para times como Santos, CNB e times pequenos, só que na maioria não dava certo
        então fazendo eu desisti, porém não toltamente do League Of Legends tentando uma carreira de
        streamer, que para mim era uma das coisas mais divertidas de se fazer mas com o tempo eu não
        conseguia mais, pois estava exigindo um grande uso do meu HardWare mesmo com as qualidades no Low,
        fazendo eu dar uma pausa momentanea que se mantem até o momento, um dia pretendo voltar como um
        hobby para aliviar o stress e me divertir com amigos. Hoje em dia estou cursando Desenvolvimento de
        Software Multiplataforma na Fatec e sinceramente, estou curtindo muito já que é uma área que eu
        originalmente gosto, então pretendo trabalhar bastante com isso ainda.</p>
    <p class="title-controll">Porque o nome "ZERO"?</p>
    <p class="text-controll">Esse nome vem por conta da minha infância onde minha maior parte foi jogar
        jogos de PlayStation 2, Game Boy Advanced, Nintendo Ds e alguns jogos de computador, mas o mais
        marcante foi o jogo Megaman X4 onde o personagem Zero foi disponibilizado para jogar desdo inicio do
        jogo, e para mim aquele personagem era o mais incrivel possível, ele usava uma armadura incrivel de
        tom vermelho e branco e usava uma espada laser e ia na briga com os inimigos, isso para mim foi o
        suficiente para me conquistar e fazer com que eu pegasse o nome dele emprestado para mim. Até hoje
        uso esse nome por conta disso, além de que conforme eu fui crescendo e conhecendo mais coisas,
        sempre me deparava com algum ou outro personagem com o nome zero, e cada personagem aumentava ainda
        meu entusiamos em relação a esse nome. é por isso que uso :)</p>
    <p class="title-controll">Objetivos futuros desse portifolio</p>
    <p class="text-controll">Bem, esse projeto é para a materia de Desigin Digital da Fatec de São José dos
        campos, porém irei usar ele para continuar atualizando meu progesso no mundo da tecnologia após a
        ultima entrega do mesmo</p>
</div>
{% endblock %}