<html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/escolaridade.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--CSS-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escolaridade</title>
</head>

<body>
    <div class="row row-divsion">
        <!-- Navbar-->
        <div class="col-sm-2 teste col-color sidbar-desktop">
            <div class=" container-navbar">
                <a class="nav-link nav-link-title" aria-current="page" href="#">Zero</a>
                <span> se localize </span>
                <a class="nav-link nav-link-subs" href="sobremim.html">Sobre Mim</a>
                <a class="nav-link nav-link-subs" href="escolaridade.html">Escolaridade</a>
                <a class="nav-link nav-link-subs" href="projetos.html">Projeto</a>
                <a class="nav-link nav-link-subs" href="curriculo.html">Curriculo</a>
                <a class="nav-link nav-link-subs" href="hobby.html">Hobby</a>
            </div>
        </div>
        <!-- Side bar -->
        <div class="sidbar-mobile">
            <div class=" col-color-sidebar offcanvas offcanvas-start side-bar-widht " tabindex="-1" id="offcanvas"
                data-bs-keyboard="false" data-bs-backdrop="false">
                <div class="offcanvas-header">
                    <a id="pirata-close" class="nav-link nav-link-title" aria-current="page" href="#"
                        data-bs-toggle="offcanvas" aria-label="Close">Zero</a>
                </div>
                <div class="offcanvas-body px-0">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                        <li class="nav-item">
                            <a href="sobremim.html" class="nav-link text-truncate nav-link-subs">
                                Sobre mim
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="escolaridade.html" class="nav-link text-truncate nav-link-subs">
                                Escolaridade
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="projetos.html" class="nav-link text-truncate nav-link-subs">
                                Projetos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="curriculo.html" class="nav-link text-truncate nav-link-subs">
                                Curriculo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="hobby.html" class="nav-link text-truncate nav-link-subs">
                                Hobby
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-color-sidebar">
                    <!-- toggler -->
                    <a id="pirata" class="nav-link nav-link-title" aria-current="page" href="#"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvas">Zero</a>
                </div>
                <!-- Conteudo da pagina -->
                <div class="col-sm-12 parademiar">
                    <div class="card card-size ">
                        <div class="controll-div">
                            <div class="img-controll">
                                <img class="img" src="../static/imagens/mdschool.png" alt="">
                            </div>

                            <div class="div-controll">
                                <p class="font-family">Maria Dolores</p>
                                <p class="date-controll">
                                    Inicio: 2011 <br>
                                    fim: 2014
                                </p>
                                <p class="text-controll">Quando cheguei em São josé dos campos a primeira escola que frequentei foi a Maria
                                    Dores,
                                    onde
                                    fiquei por três anos até virar uma escola de ensino médio integral. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-size card-size-text-alt ">
                        <div class="controll-div">
                            <div class="img-controll">
                                <img class="img" src="../static/imagens/matarazzo.jpg" alt="">
                            </div>
                            <div class="div-controll">
                                <p class="font-family">Matarazzo</p>
                                <p class="date-controll">
                                    Inicio: 2014 <br>
                                    fim: 2016
                                </p>
                                <p class="text-controll">Após Maria Dolores ser apénas Ensino Médio intregal, fui transferido para a
                                    matarazzo, no
                                    inicio achei que ia ser um pesadelo de tanta coisa ruim que ouvi dessa escola e no
                                    final se
                                    provou ser "falso", acabou sendo uma boa escola para mim no final, não fiz nada de
                                    extravagante nela, mas ainda assim ficou presente como algo necessario para hoje.
                                    Unica dificuldade que tive foi nos primeiro dia, onde descobrimos que os professores
                                    continuavam nas salas e os alunos saiam, diferente da MD</p>
                            </div>
                        </div>
                    </div>
                    <div class="card card-size card-size-text-alt ">
                        <div class="controll-div">
                            <div class="img-controll">
                                <img class="img" src="../static/imagens/mdschool.png" alt="">
                            </div>
                            <div class="div-controll">
                                <p class="font-family">Maria Dolores</p>
                                <p class="date-controll">
                                    Inicio: 2016 <br>
                                    fim: 2018
                                </p>
                                <p class="text-controll">Agora no Ensino médio, foi uma ótima escola me ensinou várias coisas dentro dela,
                                    tanto por
                                    conta das materias que já eram mais avançadas quanto por conta de outros projetos
                                    que tinha
                                    dentro do Ensino Intregal, como O.E [Orientação de estudo], P.A [Projetos
                                    Academico], P.V
                                    [Projeto De Vida], M.T [Mundo do Trabalho], Eletiva e Clube. Dentro dessas
                                    modalidade sempre
                                    tinha algo importante para fazer, principalmente nas eletivas, que sera detalhado na
                                    parte
                                    de curriculo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Body -->
        <div class="col-sm-10 col-colo sidbar-desktop">
            <div class="card card-size ">
                <div class="controll-div">
                    <img class="img" src="../static/imagens/mdschool.png" alt="">
                    <div class="div-controll">
                        <p class="font-family">Maria Dolores</p>
                        <p class="date-controll">
                            Inicio: 2011 <br>
                            fim: 2014
                        </p>
                        <p class="text-controll">Quando cheguei em São josé dos campos a primeira escola que frequentei foi a Maria Dores,
                            onde
                            fiquei por três anos até virar uma escola de ensino médio integral. </p>
                    </div class="text-controll">
                </div>
            </div>
            <div class="card card-size card-size-text-alt ">
                <div class="controll-div">
                    <img class="img" src="../static/imagens/matarazzo.jpg" alt="">
                    <div class="div-controll">
                        <p class="font-family">Maria Dolores</p>
                        <p class="date-controll">
                            Inicio: 2014 <br>
                            fim: 2016
                        </p>
                        <p class="text-controll">Após Maria Dolores ser apénas Ensino Médio intregal, fui transferido para a matarazzo, no
                            inicio achei que ia ser um pesadelo de tanta coisa ruim que ouvi dessa escola e no final se
                            provou ser "falso", acabou sendo uma boa escola para mim no final, não fiz nada de
                            extravagante nela, mas ainda assim ficou presente como algo necessario para hoje.
                            Unica dificuldade que tive foi nos primeiro dia, onde descobrimos que os professores
                            continuavam nas salas e os alunos saiam, diferente da MD</p>
                    </div>
                </div>
            </div>
            <div class="card card-size card-size-text-alt ">
                <div class="controll-div">
                    <img class="img" src="../static/imagens/mdschool.png" alt="">
                    <div class="div-controll">
                        <p class="font-family">Maria Dolores</p>
                        <p class="date-controll">
                            Inicio: 2016 <br>
                            fim: 2018
                        </p>
                        <p class="text-controll">Agora no Ensino médio, foi uma ótima escola me ensinou várias coisas dentro dela, tanto por
                            conta das materias que já eram mais avançadas quanto por conta de outros projetos que tinha
                            dentro do Ensino Intregal, como O.E [Orientação de estudo], P.A [Projetos Academico], P.V
                            [Projeto De Vida], M.T [Mundo do Trabalho], Eletiva e Clube. Dentro dessas modalidade sempre
                            tinha algo importante para fazer, principalmente nas eletivas, que sera detalhado na parte
                            de curriculo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>

</html>