<html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/escolaridade.css">
    <!--CSS-->
    <meta charset="UTF-8">
    <title>Escolaridade</title>
</head>

<body>
    <div class="grid grid-template-areas-1">
        <nav class="item sidenav navbar">
            <div class="sidenav-content">
                <h1>
                    <a href="index.html">zero</a>
                </h1>
                <p>
                    <span>----</span>
                    Se localize
                    <span>----</span>
                </p>
                <ul class="ul-item">
                    <li><a href="sobremim.html">Sobre Mim</a></li>
                    <li><a href="escolaridade.html">Escolaridade</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="curriculo.html">Curriculo</a></li>
                    <li><a href="hobby.html">Hobby</a></li>
                </ul>
            </div>
        </nav>
        <main class="item content">
            <div class="content-div-manege">
                <div class="content-div">
                    <div class="box-school">
                        <img src="../static/imagens/mdschool.png" alt="Teste">
                        <h3>
                            Maria Dolores
                        </h3>
                        <h6>
                            Inicio: 2011
                            <br>
                            fim: 2014
                        </h6>
                        <p>
                            Quando cheguei em São josé dos campos a primeira escola que frequentei foi a Maria Dores,
                            onde fiquei por três anos até virar uma escola de ensino médio integral.
                        </p>
                    </div>
                    <div class="box-school">
                        <img src="../static/imagens/matarazzo.jpg" alt="Teste">
                        <h3>
                            Matarazzo
                        </h3>
                        <h6>
                            Inicio: 2014
                            <br>
                            fim: 2016
                        </h6>
                        <p>
                            Após Maria Dolores ser apénas Ensino Médio intregal, fui transferido para a matarazzo, no
                            inicio achei que ia ser um pesadelo de tanta coisa ruim que ouvi dessa escola e no final se
                            provou ser "falso", acabou sendo uma boa escola para mim no final, não fiz nada de
                            extravagante nela, mas ainda assim ficou presente como algo necessario para hoje.<br>
                            Unica dificuldade que tive foi nos primeiro dia, onde descobrimos que os professores
                            continuavam nas salas e os alunos saiam, diferente da MD
                        </p>
                    </div>
                    <div class="box-school">
                        <img src="../static/imagens/mdschool.png" alt="Teste">
                        <h3>
                            Maria Dolores... Again
                        </h3>
                        <h6>
                            Inicio:2016
                            <br>
                            fim:2018
                        </h6>
                        <p>
                            Agora no Ensino médio, foi uma ótima escola me ensinou várias coisas dentro dela, tanto por
                            conta das materias que já eram mais avançadas quanto por conta de outros projetos que tinha
                            dentro do Ensino Intregal, como O.E [Orientação de estudo], P.A [Projetos Academico],
                            P.V [Projeto De Vida], M.T [Mundo do Trabalho], Eletiva e Clube. Dentro dessas modalidade
                            sempre tinha algo importante para fazer, principalmente nas eletivas, que sera detalhado na
                            parte de curriculo
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>

</html>