<html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/hobby.css">
    <!--CSS-->
    <meta charset="UTF-8">
    <title>Hobby</title>
</head>

<body>
    <div class="grid grid-template-areas-1">
        <nav class="item sidenav navbar">
            <div class="sidenav-content">
                <h1>
                    <a href="index.html">zero</a>
                </h1>
                <p>
                    <span>----</span>
                    Se localize
                    <span>----</span>
                </p>
                <ul class="ul-item">
                    <li><a href="sobremim.html">Sobre Mim</a></li>
                    <li><a href="escolaridade.html">Escolaridade</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="curriculo.html">Curriculo</a></li>
                    <li><a href="hobby.html">Hobby</a></li>
                </ul>
            </div>
        </nav>
        <main class="item content">
            <div class="content-div-manege">
                <div class="content-div">
                    <div class="hobby-school">
                        <h3>
                            Hobby. Sério, eu gosto de muita coisa
                        </h3>
                        <p>
                            Eu falo hobby mas terá coisa que eu gosto de fazer que eu não sei se é considerado um hobby
                            em si então por isso deixarei essa página apenas com um container, com o passar do tempo eu
                            vejo o que eu irei escrever e colocar aqui.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>

</html>