<html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/zero.css">
    <!--CSS-->
    <meta charset="UTF-8">
    <title>Zero</title>
</head>

<body>
    <div class="grid grid-template-areas-1">
        <nav class="item sidenav navbar">
            <div class="sidenav-content">
                <h1>
                    <a href="index.html">zero</a>
                </h1>
                <p>
                    <span>----</span>
                    Se localize
                    <span>----</span>
                </p>
                <ul class="ul-item">
                    <li><a href="sobremim.html">Sobre Mim</a></li>
                    <li><a href="escolaridade.html">Escolaridade</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="curriculo.html">Curriculo</a></li>
                    <li><a href="hobby.html">Hobby</a></li>
                </ul>
            </div>
        </nav>
        <main class="item content">
            <div class="content-div-manege">
                <div class="content-div">
                    <div class="zero-about-section">
                        <h1 class="h1-style-text">
                            Página
                            <span class="zero-span">
                                Zero
                            </span>
                        </h1>
                        <div class="contente-text-style p-style-repeat">
                            <h3 class="h3-title-style">
                                Sobre esta página
                            </h3>
                            <p>
                                Está página nada mais é do que a primordial, onde a primeira coisa que você visatante
                                irá dar de cara.
                                Objetivo dela também é explicar coisas o por que do "ZERO" e o que será o futuro dela,
                                tornando-se o meu primeiro portfólio.
                                além de ser um bom treinamento para mim de diversas tecnologias.
                            </p>
                            <h3 class="h3-title-style">
                                Porque o nome "ZERO"?
                            </h3>
                            <p>
                                Esse nome vem por conta da minha infância onde minha maior parte foi jogar jogos de
                                PlayStation 2, Game Boy Advanced, Nintendo Ds e alguns jogos de computador, mas o mais
                                marcante foi o jogo Megaman X4 onde o personagem Zero foi disponibilizado para jogar
                                desdo inicio do jogo, e para mim aquele personagem era o mais incrivel possível, ele
                                usava uma armadura incrivel de tom vermelho e branco e usava uma espada laser e ia na
                                briga com os inimigos, isso para mim foi o suficiente para me conquistar e fazer com que
                                eu pegasse o nome dele emprestado para mim. Até hoje uso esse nome por conta disso, além
                                de que conforme eu fui crescendo e conhecendo mais coisas, sempre me deparava com algum
                                ou outro personagem com o nome zero, e cada personagem aumentava ainda meu entusiamos em
                                relação a esse nome. é por isso que uso :)
                            </p>
                            <h3 class="h3-title-style">
                                Objetivos futuros dessa página
                            </h3>
                            <p>
                                Bem, no futuro pretendo alterar as coisas conforme o tempo, como a pagina "Projetos" e
                                "Curriculo" e alem do design do site em si, implementando uma coisinha ou outra
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>

</html>