<html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/projeto.css">
    <!--CSS-->
    <meta charset="UTF-8">
    <title>Projetos</title>
</head>

<body>
    <div class="grid grid-template-areas-1">
        <nav class="item sidenav navbar">
            <div class="sidenav-content">
                <h1>
                    <a href="index.html">zero</a>
                </h1>
                <p>
                    <span>----</span>
                    Se localize
                    <span>----</span>
                </p>
                <ul class="ul-item">
                    <li><a href="sobremim.html">Sobre Mim</a></li>
                    <li><a href="escolaridade.html">Escolaridade</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="curriculo.html">Curriculo</a></li>
                    <li><a href="hobby.html">Hobby</a></li>
                </ul>
            </div>
        </nav>
        <main class="item content">
            <div class="content-div-manege">
                <div class="content-div">
                    <div class="central-div-project">
                        <h1>
                            Projetos
                        </h1>
                        <p>
                            Irei falar sobre os projetos que eu já fiz algumas vezes por puro entreterimento quando
                            estava apredendo a linguagem HTML/CSS... isso se eu conseguir achar todas as imagens
                        </p>
                    </div>
                    <div class="img-proj">
                        <img src="../static/imagens/img.png" alt="" srcset="">
                        projeto 1
                    </div>
                    <div class="img-proj">
                        <img src="../static/imagens/img.png" alt="" srcset="">
                        projeto 2
                    </div>
                    <div class="img-proj">
                        <img src="../static/imagens/img.png" alt="" srcset="">
                        projeto 3
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>

</html>