<html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/projeto.css">
    <!--CSS-->
    <meta charset="UTF-8">
    <title>Projetos</title>
</head>

<body>
    <div class="grid grid-template-areas-1">
        <nav class="item sidenav navbar">
            <div class="sidenav-content">
                <h1>
                    <a href="index.html">zero</a>
                </h1>
                <p>
                    <span>----</span>
                    Se localize
                    <span>----</span>
                </p>
                <ul class="ul-item">
                    <li><a href="sobremim.html">Sobre Mim</a></li>
                    <li><a href="escolaridade.html">Escolaridade</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="curriculo.html">Curriculo</a></li>
                    <li><a href="hobby.html">Hobby</a></li>
                </ul>
            </div>
        </nav>
        <main class="item content">
            <div class="content-div-manege">
                <div class="content-div">
                    <div class="central-div-project">
                        <h1>
                            Projetos
                        </h1>
                        <p>
                            Bem, enquanto eu não sabia muito o que fazer durante a pandemia eu decidi meio que entrar no
                            Cursos On-line udemy, e como o site vive em promoção, acabei comprando alguns e fazendo. O
                            que mais eu fiz foi o "Desenvolvimento Web Completo 2021 - 20 cursos + 20 projetos" fazendo
                            um total de 20 horas de 114 horas, pretendo continuar com ele futuramente para ampliar o meu
                            conhecimento que estou adquirindo na FATEC.<br>
                            Graças a esse curso eu consegui adiquirir um pouco de conhecimento para fazer pequenos
                            projetos para treinar e brincar um pouco, comecei por um pequeno desafio que meu amigo
                            falou, que é fazer o menu do terraria, imitando algumas funções.<br>
                            No final desse Menu Screen do terraria eu acabei me divertindo muito, pois eu tinha feito um
                            pequeno pequeno menu agradavel e navegavel baseado em um dos meus jogos favoritos,
                            futuramente eu tenho um plano de tentar fazer um terraria para web, exigira tempo e
                            dedicação, mas por esse jogo vale a pena<br>
                            <strong>Curiosidade, jogo terraria desde 2012. No jogo pirata eu devo ter em torno de
                                algumas 2 mil horas, infelizmente não tem registro no pirata, porém registradas contem
                                627 horas [Contandas desde 2015]</strong><br>
                            Outro mini projeto que eu fiz foi uma tela de login, é so isso, foi só por que eu tinha
                            visto uma tela de login bonita em algum site e pensei comigo mesmo "Porque eu não tento
                            fazer ela do meu modo?" no final foi algo simples e bem basico, mas me deixando orgulhoso do
                            que eu tinha feito, algum dia eu possa criar um site e colocar ela na versão 2.0, quem sabe
                            né.<br>
                            O ultimo projeto que eu fiz, que eu não poderia deixar de colocar é o meu prototipo de
                            portifolio, onde no inicio do semestre quando o professor falou para fazer um, eu tentei
                            criar algo "UOU ISSO VAI FICAR INCRIVEL CHEIO DE DETALHES", só que com o passar dos dias eu
                            contornei esse pensamento usando a filosofia Zen Of Python e acabei decidindo que algo
                            simples seria melhor que complexo cheio de detalhes, e sinceramente estou feliz com essa
                            decisão também.
                        </p>
                    </div>
                    <div class="img-proj">
                        <img src="../static/imagens/terraria.png" alt="" srcset="">
                    </div>
                    <div class="img-proj">
                        <img src="../static/imagens/loginhtml.png" alt="" srcset="">
                    </div>
                    <div class="img-proj">
                        <img src="../static/imagens/primeiroteste.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>

</html>