<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,700;1,800&display=swap"
        rel="stylesheet">
    <!--Fonte-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/sobremim.css">
    <!--CSS-->
    <meta charset="UTF-8">
    <title>Sobre Mim</title>
</head>

<body>
    <div class="grid grid-template-areas-1">
        <nav class="item sidenav navbar">
            <div class="sidenav-content">
                <h1>
                    <a href="zero.html">zero</a>
                </h1>
                <p>
                    <span>----</span>
                    Se localize
                    <span>----</span>
                </p>
                <ul class="ul-item">
                    <li><a href="sobremim.html">Sobre Mim</a></li>
                    <li><a href="escolaridade.html">Escolaridade</a></li>
                    <li><a href="projetos.html">Projetos</a></li>
                    <li><a href="curriculo.html">Curriculo</a></li>
                    <li><a href="hobby.html">Hobby</a></li>
                </ul>
            </div>
        </nav>
        <main class="item content">
            <div class="content-div-manege">
                <div class="content-div">
                    <div class="icon-user icon-user-titulo ">
                        <img src="../static/imagens/allen_wallker.jpg" alt="Eu" srcset="">
                        <h3>Sobre mim</h3>
                    </div>
                    <div class="center">
                        <div class="conteudo-div">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sem nibh. Nullam
                                faucibus blandit urna et posuere. Sed vitae mollis purus. Quisque eget ante in lacus
                                pellentesque aliquet dictum ut arcu. Duis augue ex, sollicitudin vitae orci at, bibendum
                                aliquam neque. Vestibulum semper, urna vel tincidunt rutrum, diam enim tincidunt lacus,
                                placerat porta mauris mi accumsan mauris. Nunc feugiat urna in nibh pretium, quis
                                pretium libero ullamcorper. Suspendisse ac aliquam ligula. Nulla mi erat, euismod non mi
                                eget, molestie ultricies ipsum. Class aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos. Pellentesque pretium faucibus nulla sed
                                porttitor. Vivamus auctor urna at erat congue feugiat. Fusce ut lectus mollis,
                                pellentesque ligula et, luctus justo. In eget nisi ipsum. Donec imperdiet augue sed mi
                                volutpat, a facilisis justo aliquet.
                                Proin vitae luctus tortor. Pellentesque id velit fermentum, porta magna at, mollis urna.
                                Praesent ex lorem, maximus pharetra pulvinar nec, suscipit sed urna. Curabitur a
                                volutpat ante. Maecenas dignissim lectus in purus tristique eleifend. Duis risus nisl,
                                scelerisque vel faucibus at, dignissim sed erat. Nam urna odio, scelerisque sed ipsum
                                vel, dignissim aliquam ante. Proin feugiat, orci vel feugiat iaculis, eros mi hendrerit
                                libero, et fermentum tortor dui eget ipsum. Ut interdum non est eu pellentesque. Donec
                                laoreet facilisis lorem quis volutpat. Donec mauris orci, consectetur eget nisi
                                tristique, luctus ultricies justo. Mauris tincidunt, nulla nec vestibulum aliquet, leo
                                nunc molestie nisl, a ultrices quam eros et est. In odio quam, ornare et laoreet at,
                                ullamcorper scelerisque purus. Integer blandit mauris vel efficitur varius. Pellentesque
                                ullamcorper dapibus ipsum in volutpat. Proin auctor ante id odio consectetur, a varius
                                nisl blandit.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut sem nibh. Nullam
                                faucibus blandit urna et posuere. Sed vitae mollis purus. Quisque eget ante in lacus
                                pellentesque aliquet dictum ut arcu. Duis augue ex, sollicitudin vitae orci at, bibendum
                                aliquam neque. Vestibulum semper, urna vel tincidunt rutrum, diam enim tincidunt lacus,
                                placerat porta mauris mi accumsan mauris. Nunc feugiat urna in nibh pretium, quis
                                pretium libero ullamcorper. Suspendisse ac aliquam ligula. Nulla mi erat, euismod non mi
                                eget, molestie ultricies ipsum. Class aptent taciti sociosqu ad litora torquent per
                                conubia nostra, per inceptos himenaeos. Pellentesque pretium faucibus nulla sed
                                porttitor. Vivamus auctor urna at erat congue feugiat. Fusce ut lectus mollis,
                                pellentesque ligula et, luctus justo. In eget nisi ipsum. Donec imperdiet augue sed mi
                                volutpat, a facilisis justo aliquet.
                                Aenean eget enim ultricies, dapibus magna pretium, laoreet est. Etiam et dictum erat.
                                Cras ornare sem turpis, id venenatis elit eleifend feugiat. Aenean cursus ante a purus
                                vehicula, at convallis risus finibus. Fusce eleifend purus sed tincidunt rhoncus. Donec
                                semper nisl id magna laoreet molestie. Morbi ultricies, quam ut convallis molestie,
                                turpis arcu rhoncus felis, at sollicitudin risus orci ac tortor. Cras ligula ligula,
                                tincidunt eu nisi eget, mollis fringilla orci. Donec a elit lacus. Praesent iaculis
                                magna sit amet justo rutrum hendrerit. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>