/*Parte do Meio da página*/
.content-div-manege{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-div{
    width: 50vw;
    height: 100%;
}
/*Conteudo dentro da div > Content-Div-Manege <*/
/*Imagens e Links laterais*/
.left-content-links{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.img-left{
    border-radius: 25%;
    width: 130px;
    height: 130px;
    margin: 25px 0;
}
.img-perfil{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.img img{
    width: 100%;
    height: 100%;
}
.img-left:hover{
    opacity: 75%;
}
/*Curriculo*/
.div-curriculo{
    border-left: 5px solid rgb(223, 223, 223);
    border-right: 5px solid rgba(201, 200, 200, 0.829);
    box-shadow: 5px 2px rgba(0, 0, 0, 0.527);
    background-color: white;
    float: right;
    width: 70%;
    height: 90vh;
    margin-top: 45px;
}
.h4-title-style{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    line-height: 3em;
    font-size: 2.5em;
}