*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*NavBar*/
.ul-item{
    line-height: 2em;
    text-align: start;
    list-style: none;
}
.sidenav span{
    color: red;
}
.sidenav-content{
    position: fixed;
    top: 50px;
}
.sidenav-content p{
    line-height: 0.1px;
    font-size: 1.5em;
    font-weight: bold;
}
.sidenav-content h1{
    text-transform: uppercase;
}
.sidenav-content a{
    font-size: 3.5em;
    font-family: "Merienda", sans-serif;
    text-decoration: none;
    color: rgb(236, 180, 11);
}
.ul-item a{
    text-decoration: none;
    color: black;
    font-size: 2em;
    line-height: 2.5em;
}
.sidenav-content a:hover{
    color: rgb(170, 12, 12);
}
.sidenav-content p{
    line-height: 0.2px;
}
/*Grid*/
/*Itens do Grid*/
.navber{
    grid-area: navbar;
}
.item {
	text-align: center;
}
.logo{
    grid-area: logo;
}
/*Configuração dos itens grid*/
.sidenav{
    grid-area: sidenav;
    display: flex;
    justify-content: center;
    border-right: 4px dashed black;
    align-items: center;
    background-color:rgb(75, 93, 108);
}
.content{
    background-color: rgb(195, 207, 217);
    grid-area: content;
    overflow: hidden;
}
/*Configuração do Grid*/
.grid {
    display: grid;
    grid-template-columns: 1f 2f 3f ;
	grid-template-columns: 350px auto 50px;
    grid-template-rows: 100vh auto 0;
}
.grid-template-areas-1 {
	grid-template-areas:
		"sidenav content content"
		"sidenav content content";
}