/*Parte do Meio da página*/
.content-div-manege{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-div{
    border-left: 5px solid rgb(223, 223, 223);
    border-right: 5px solid rgba(201, 200, 200, 0.829);
    box-shadow: 5px 2px rgba(0, 0, 0, 0.527);
    background-color: white;
    width: 50vw;
    height: 100%;
}
/*Conteudo dentro da div > Content-Div-Manege <*/
.zero-about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1-style-text{
    font-size: 3em;
    margin: 1.5em;
    border-bottom: 2px dashed black;
    font-family: "merienda";
}
.zero-span{
    color: rgb(236, 180, 11);
    text-transform: uppercase;
}
.h3-title-style{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    line-height: 3em;
    font-size: 1.5em;
}
.contente-text-style{
    width: 50%;
    text-align: justify;
}
.p-style-repeat{
    font-size: 20px;
    margin-bottom: 50px;
}